:root {
  --color-main: rgb(33, 7, 7);
  --color-accent: #9747FF;
  --color-accent-light: #9747ff33;
  --font-size-small: 12px;
  --font-size-medium: 18px;
  --font-size-large: 24px;
  --font-size-xl: 30px;
  --font-size-xxl:36px;
  --border-width: 1px;
  --border-radius: 10px;
  --gap-small: 2%;
  --gap-medium: 2%;
  --padding-micro: 1%;
  --padding-small: 2%;
  --padding-medium: 2%;
  --padding-large: 4%;
  --padding-huge: 8%;
  --margin-micro: 1%;
  --margin-small: 2%;
  --margin-medium: 4%;
  --margin-large: 4%;
  --line-height: 1.5;

  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: white;
  line-height: var(--line-height);
  text-transform: uppercase;
  font-weight: 700;
  font-size: var(--font-size-small);
  color-scheme: light dark;
  background: linear-gradient(180deg, rgb(37, 8, 8) 40%, rgb(0, 0, 0) 90%);
  background-size: 100% 100%;
  height: 100vh;
  font-synthesis: none;
  letter-spacing: 2%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'Poppins';
  src: url(assets/fonts/Poppins-Bold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url(assets/fonts/Poppins-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url(assets/fonts/Poppins-Light.ttf);
  font-weight: 300;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

* {
  font-family: 'Poppins', system-ui, Avenir, Helvetica, Arial, sans-serif;
  letter-spacing: 2%;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  color: #f7e4c2;
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  align-items: center;
  min-width: 20%;
  min-height: 100vh;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

h1 {
  width: 100%;
  height: 5%;
  font-size: var(--font-size-xxl);
  text-transform: uppercase;
  letter-spacing: 2%;
  margin: 0;
}

h2 {
  width: 100%;
  font-size: var(--font-size-xl);
  font-weight: 500;
  margin-block-start: 4%;
  margin-block-end: 4%;
}

p {
  font-weight: 300;
  font-size: var(--font-size-medium);
  white-space: pre-line;
  margin-bottom: 4%;
  text-transform: uppercase;
  letter-spacing: 2%;
}

button {
  font-size: var(--font-size-medium);
  font-weight: 500;
  text-transform: uppercase;
  background-color: transparent;
  border: var(--border-width) solid #f7e4c2;
  cursor: pointer;
  border-radius: var(--border-radius);
  color: #f7e4c2;
  margin-right: var(--margin-medium);
  margin-left: var(--margin-medium);
}

.selected {
  border: var(--border-width) solid #f7e4c2;
  background-color: #505050;
}

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

#header {
  padding: var(--padding-micro) var(--padding-micro) var(--padding-micro)  var(--padding-micro);
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

#header .btn-wrapper {
  display: flex;
}

#header .btn-wrapper .sound {
  margin-right: var(--gap-medium);
}

.content {
  width: 100%;
  height: 90%;
  flex: 1;
  flex-direction: column;
  text-align: center;
  padding-left: var(--padding-large);
  padding-right: var(--padding-large);
  padding-top: var(--padding-large);
  padding-bottom: var(--padding-large);
  display: flex;
  justify-content: center;
  gap: var(--gap-medium);
  align-items: center;
  box-sizing: border-box;
}

#actions {
  padding-left: var(--padding-huge);
  padding-right: var(--padding-huge);
  padding-top: var(--padding-huge);
  padding-bottom: var(--padding-huge);
}

.border {
  border: var(--border-width) solid #f7e4c2;
  border-radius: var(--border-radius);
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.actions {
  width: 100%;
  display: flex;
  justify-content: center;
}

.action {
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.action p {
  font-size: var(--font-size-large);
}

#headerSectionMiddle h2 {
  font-size: var(--font-size-xxl);
  border-top: var(--border-width) solid #f7e4c2;
  border-bottom: var(--border-width) solid #f7e4c2;
  margin-top: 0;
  margin-bottom: 0;
}

#headerSectionMiddle {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#playerActions {
  display: flex;
  height: 50%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

#playerStatisticsActions {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#playerStatisticsActionsActions p {
  font-size: var(--font-size-xl);
}

.cell {
  display: flex;
  width: 3rem;
  height: 3rem;
  margin: 2%;
  border: var(--border-width) solid #f7e4c2;
}

.colored {
  background-color: #6c0317;
}

#headerActions {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 20%;
  margin-bottom: 10%;
}

#headerActions img {
  width: 100%;
  height: 100%;
}

#confirmationPopup {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.confirmationElement {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: var(--border-width) solid #f7e4c2;
  border-radius: var(--border-radius);
  width: 30%;
  height: 20%;
  background-color: rgba(0, 0, 0, 0.5);
}

.confirmationElement p {
  font-size: var(--font-size-large);
}

#headerActions img {
  width: 100%;
  border-radius: 50%;
  border: 1% solid #f7e4c2;
}

.actions img {
  width: 100%;
}

.actionUsed {
  filter: grayscale(70%);
}

#headerSectionLeft, #headerSectionRight, #headerSectionMiddle {
  display: flex;
  height: 100%;
  width: 30%;
}

#headerSectionRight{
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.headerItem {
  height: 100%;
  width: auto;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  margin-left: var(--margin-small);
  margin-right: var(--margin-small);
}


.headerItem img {
  border: 2px solid #f7e4c2;
}

#playerStatisticsActions img {

  border-radius: 0 !important;
  border: 0 !important;
}

#playerStatisticsActions p {
  font-size: var(--font-size-xl) !important;
}

#playerGold, #playerHealth {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}

#playerHealth p, #playerGold p, #playerHealth img, #playerGold img {
  width: 50%;
  height: auto;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

#endAction {
  cursor: pointer;
  display: flex;
  align-items: flex-end;
}

#buttons {
  display: flex;
  width: 100%;
  justify-content: center;
}

#buttons button {
  font-size: var(--font-size-large);
}

#currentIsland p {
  font-size: var(--font-size-large);
}

#playerInfos {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: var(--gap-medium);
}

#character {
  display: flex;
  flex-direction: row;
  width: 100%;
}

#contentLeft {
  display: flex;
  width: 30%;
  height: 100%;
}

#contentRight {
  display: flex;
  width: 70%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

#playerStatistics {
  display: flex;
  height: 90%;
  width: 50%;
  display: flex;
  padding: 2%;
  flex-direction: column;
  position: absolute;
}

.staticticsContent{
  display: flex;
  width: 100%;
  height: 100%;
}

#playerImage img {
  display: flex;
  justify-content: center;
  height: 100%;
}

#playerImage {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2%;
}

#playerName {
  display: flex;
  justify-content: center;
  width: 100%;
}

#playerName h1 {
  width: 50%;
  height: 100%;
  border-top: var(--border-width) solid #f7e4c2;
  border-bottom: var(--border-width) solid #f7e4c2;
}

#movesPlayer .movesCombinationPlayer {
  flex-basis: calc(50% - 2%);
  background-color: rgba(50, 50, 50, 0.2);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
}

#movesMonster .movesCombinationMonster{
  flex-basis: calc(50% - 2%);
  background-color: rgba(50, 50, 50, 0.2);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
}

.movesCombinationPlayerButtons{
  width: 100%;
  height: 100%;
}

.movesContentLeft, .movesContentRight {
  display: flex;
  height: 100%;
  align-items: center;
}

.movesContentLeft {
  width: 40%;
}

.movesContentRight {
  width: 60%;
  flex-direction: column;
}

.movesImages {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movesImages img {
  height: 90%;
  width: auto;
  margin: 2%;
  border-radius: var(--border-radius);
}

.moveName, .moveText {
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;

}

.moveName {
  text-align: left;
  font-size: var(--font-size-large);
}

.moveText {
  justify-content: flex-start;
  font-size: var(--font-size-medium);
}

.levelElement {
  display: flex;
  width: 30%;
  height: 30%;
  margin: 2.2%;
  background-color: rgba(50, 50, 50, 0.5);
  border-radius: var(--border-radius);
  font-size: var(--font-size-large);
}

.levelElement img {
  display: flex;
  padding: var(--padding-small);
  width: auto;
  height: auto;
  border-radius: var(--border-radius);
}

.levelElement p {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-size: var(--font-size-large);
  margin-bottom: 0%;
  margin-top: 0%;
}

.levelElementText {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#playerStatisticsLevels {
  justify-content: flex-start;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  display: flex;
  cursor: default;
  justify-content: center;
}

#movesPlayer, #movesMonster {
  width: 100%;
  height: 85%;
  display: flex;
  flex-wrap: wrap;
  gap: 1%;
  align-items: center;
  justify-content: center;
  padding: var(--padding-micro);
}

#movesPlayer .moveImages {
  width: 50%;
  justify-content: flex-end;
}

#diceCombinationsPlayerFight, #diceCombinationsMonster {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(50, 50, 50, 0.3);
  border-radius: var(--border-radius);
  border: var(--border-width) solid #f7e4c2;
}

#diceCombinationsPlayerFight #movesPlayer .movesCombinationPlayer, #movesMonster .movesCombinationMonster {
  flex-basis: calc(50% - 2%);
  height: calc(100%/3 - 4%);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

#movesPlayer .movesCombinationPlayer:nth-child(even), #movesMonster .movesCombinationMonster:nth-child(even) {
  margin-right: 0px;
}

#movesPlayer .moveImages, #movesMonster .moveImages {
  width: 50%;
  justify-content: flex-end;
}

.movesCombinationPlayer button, .movesCombinationMonster button {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  border: var(--border-width) solid transparent;
  border-radius: var(--border-radius);
  box-sizing: border-box;
  padding: var(--padding-micro);
  margin-right: 0;
  margin-left: 0;
}

.enterCombination {
  width: 20%;
  height: 20%;
  padding: var(--padding-micro);
}

.enterCombination button{
  width: 100%;
  height: 100%;
}

.selected {
  background-color: rgba(50, 50, 50, 0.8) !important;
  border: var(--border-width) solid #f7e4c2 !important;
}

.statisticsImage{
  display: flex;
}

.statisticsImage img {
  height: 100%;
  width: auto;
  border-radius: 2%;
  overflow: hidden;
  object-fit: cover;
  justify-content: center;
  align-items: center;
}

.activeFighter {
  background-color: rgba(50, 50, 50, 0.3);
  border-radius: var(--border-radius);
  border: var(--border-width) solid #f7e4c2 !important;
}

.buttonCombinationImages img {
  border-radius: 2%;
  margin: 2%;
}

#statistics {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: row;
  position: relative;
}


#monsterStatistics {
  height: 90%;
  width: 50%;
  display: flex;
  padding: 2%;
  flex-direction: column;
  position: absolute;
  right: 0;
}

.statisticsImage, .statisticsTable {
  display: flex;
  width: 50% !important;
  height: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.statisticsTable table {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.statisticsTable table h2{
  margin-top: 0;
  margin-bottom: 0;
}

.statisticsTable tbody {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.statisticsTable th {
  width: 70%;
  border-bottom: #333333 dotted var(--border-width);
  font-size: var(--font-size-large);
}

.statisticsTable td {
  width: 30%;
  border-bottom: #333333 dotted var(--border-width);
  font-size: var(--font-size-large);
}

.statisticsTable td p {
  font-size: var(--font-size-large);
}

#return {
  justify-content: flex-start;
}

#return img {
  rotate: 180deg;
}

#contentRight .movesImages img{
  height: 70%;
  width: auto;
}

#contentRight #playerStatistics{
  position: relative;
  display: flex;
  height: 30%;
  width: 100%;
  padding: 0;
}

#contentRight #movesPlayer{
  position: relative;
  display: flex;
  height: 50%;
  padding: 0;
}

#contentRight .movesCombinationPlayer{
  display: flex;
  height: calc(100%/3 - 2%);
  flex-basis: calc(50% - 1%);
}

.menu-wrapper {
  display: flex;
  place-items: center;
  align-items: center;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.menu-item {
  margin-left: 2%;
  margin-right: 2%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  width: 30%;
  height: 100%;
}

.menu-item img {
  width: auto;
  height: auto;
}

.logo {
  display: flex;
  justify-content: center;
  width: 100%;
}

.logo img {
  width: 10%;
}

#moveBossText p {
  font-size: var(--font-size-large);
}

#questView {
  height: 100%;
  width: 100%;
}

.quest, .activeQuest {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.questPicture {
  display: flex;
  height: 100%;
  width: 30%;
  justify-content: center;
  align-items: center;
  padding: 2%;
  box-sizing: border-box;
}

.questPicture img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.questInfos {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 70%;
  padding: 2%;
  box-sizing: border-box;
}

.questOfferer {
  width: 100%;
  height: 10%;
  text-align: left;
}

.questOfferer p {
  font-size: var(--font-size-xl);
}

.questContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
}

.questText {
  width: 100%;
  height: 50%;
  text-align: left;
}

.questButtons {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 50%;
  justify-content: center;
  box-sizing: border-box;
}

.questButtons button {
  width: 100%;
  margin-top: 2%;
  margin-bottom: 2%;
  box-sizing: border-box;
}

#questMapIcon {
  width: auto;
  height: 50%;
  box-sizing: border-box;
}

#questMapIcon img {
  width: auto;
  height: 50%;
}

#questMap {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 90%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

#questMap img {
  display: flex;
  width: auto;
  height: 80%;
  box-sizing: border-box;
}

#questMapFirstTime {
  display: flex;
  width: 40%;
  height: 10%;
  justify-content: center;
  align-items: center;
  border: var(--border-width) solid #f7e4c2;
  margin-top: 2%;
  margin-bottom: 2%;
  border-radius: var(--border-radius);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 2%;
}

#questMapFirstTime p {
  font-size: var(--font-size-medium);
  margin-bottom: 0;
  margin-top: 0;
}

.reward img {
  width: 20%;
  border-radius: var(--border-radius);
}

#reputations {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.islandReputation {
  display: flex;
  flex-basis: calc(50% - 2%);
  padding: 2%;
  flex-direction: column;
}

.reputationListContent {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  font-size: var(--font-size-large);
}

.reputationListHeadline, .reputationListElement {
  display: flex;
  width: 100%;
  height: 50%;
  font-size: var(--font-size-large);
}

.reputationListElement {
  border-bottom: dotted var(--border-width);
}

.playerPlace, .playerName, .playerReputation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  height: 100%;
}

.intro {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-wrapper {
  width: 100%;
}

.logo-wrapper img {
  height: auto;
  width: 40%;
}

#changeType {
  height: 20%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.buttons {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  width: 100%;
  margin-bottom: 5%;
  margin-top: 5%;
  text-align: center;
  text-transform: uppercase;
  font-size: var(--font-size-medium);
}

::placeholder {
  text-align: center;
}

#resetButton {
  margin-top: 5%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

table {
  display: flex;
  width: 100%;
  height: 20%;
  margin-top: var(--margin-small);
  margin-bottom: var(--margin-small);
  justify-content: center;
  align-items: center;
}

tbody{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

tr {
  display: flex;
  width: 100%;

}

th, td {
  display: flex;
  width: 50%;
  border-bottom: #333333 dotted var(--border-width);
  font-size: var(--font-size-large);
  justify-content: center;
  align-items: center;
}

#monster th{
  width: 30%;
}

#monster td{
  width: 70%;
}

td p {
  font-size: var(--font-size-large);
  margin-top: 0;
  margin-bottom: 0;
}

#changeMoveSection {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#changeMoveSection button {
  width: 20%;
}

#changeMoveSection p {
  margin-bottom: 2%;
  font-size: var(--font-size-medium);
}

#changeMoveImages {
  display: flex;
  width: 20%;
  justify-content: flex-end;
  align-items: center;
  padding-right: 2%;
}

#changeMoveImages img {
  border-radius: var(--border-radius);
  margin-left: 2%;
  margin-right: 2%;
}

#changeMoveCurrent {
  display: flex;
  flex-direction: column;
  width: 20%;
  justify-content: flex-start;
  padding-left: 2%;
}

#changeMoveCurrent p {
  display: flex;
  height: 50%;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0;
}

#changeMoveInfos {
  width: 100%;
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
  justify-content: center;
}

#changeMoveAvailable {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
}

.movesAvailablePlayer {
  display: flex;
  flex-direction: column;
  flex-basis: calc(50% - 2%);
  box-sizing: border-box;
  padding: 2%;
  background-color: rgba(50, 50, 50, 0.2);
  border-radius: var(--border-radius);
}

.movesAvailablePlayer p {
  display: flex;
  height: 50%;
  align-items: center;
  margin-bottom: 0 !important;
}

.selectedTab {
  background-color: rgba(50, 50, 50, 0.6);
}

#text {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-bottom: 2%;
}

#text p {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-top: 0;
  margin-bottom: 0;
  border-top: var(--border-width) solid #f7e4c2;
  border-bottom: var(--border-width) solid #f7e4c2;
}

.viewer {
  display: flex;
  width: 100%;
  height: 100%;
}

#monsterViewer, #lootViewer, #islandViewer, #logoViewer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#islandViewer img, #lootViewer img, .reward img, #logoViewer img {
  width: 20%;
  height: auto;
  border-radius: var(--border-radius);
}

span {
  text-align: left;
}

#commaSpan {
  margin-right: 2%;
}

.enterName{
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 20%;
  gap: var(--gap-medium);
  width: 20%;
}

#playerList{
  display: flex;
  width: 40%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

#playerNames, #playerStates{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.tableHeader {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.tableHeader p {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 0%;
  font-weight: 700;
}


#islands {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.island {
  width: calc(33.33% - 10px);
  margin: 5px;
}

.island img{
  border-radius: 20px;
  width: 100%;
}

.island p {
  font-size: 20px;
}

.overlay-content {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 40%;
  height: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 15px;
  z-index: 999;
  border: var(--border-width) solid #f7e4c2;
}

.overlay-content p {
  margin-top: 0;
}

#changeRegionPopUp img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
  border-radius: 10px;
}

#changeRegionPopUp {
  position: fixed !important;
  top: 12.5%;
  left: 12.5%;
  width: 75%;
  height: 75%;
  z-index: 999;
  overflow: hidden;
  padding: 20px;
  border-radius: 25px;
}

#buttonsUpgrade{
  margin-block-start: 2%;
  width: 100%;
}

#abilities, #equipment{
  width: 100%;
  height: 70%;
}

#abilities h2, #changeMoveSection h2, .upgrade-section h2{
  margin-block-start: 2%;
  margin-block-end: 2%;
}

#abilities .movesImages img{
  height: 70%;
  width: auto;

}

#abilities .movesCombinationPlayer{
  height: calc(100%/3 - 10px);
}

.player-level {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%
}

.player-level-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 50%;
}

.player-level-icon {
  margin-right: var(--margin-small);
  margin-left: var(--margin-small);
}

.player-level-icon img {
  width: auto;
  height: 100%;
  border-radius: 10px;
}

.player-level-infos {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.upgradeButtons p , .player-level-infos p{
  margin-block-start: 0em;
  margin-block-end: 0em;
}

.upgradeButtons {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.upgradeButtons button{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  margin-left: 0;
}

.upgrade-options,
.player-levels {
    display: flex;
    width: 100%;
    height: 20%;
    margin-bottom: var(--margin-small);
    margin-top: var(--margin-small);
}

.upgrade-section{
  width: 100%;
  height: 100%;
}

#quest{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

#monster{
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#monster img{
  width: 100%;
  height: auto;
  overflow: hidden;
  object-fit: cover;
  border-radius: 10px;
}

#loot img {
  width: 50%;
  border-radius: 20px;
}

.optionButtons{
  display: flex;
  width: 100%;
  height: 50%;
  flex-direction: column;
  justify-content: center;
}

.optionButtons button{
  margin-bottom: var(--margin-micro);
  margin-top: var(--margin-micro);
  margin-left: 0;
  margin-right: 0;
}


#app.rotate {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transform: rotate(0deg);
  transform-origin: top left;
  overflow: hidden;
}

@media only screen and (max-width: 800px) {
  #app.rotate {
    transform: rotate(0deg);
    width: 100vw;
    height: 100vh;
  }

  .content{
    height: 85%;
    padding-top: 0 !important;
  }

  :root{
    --font-size-small: 10px;
    --font-size-medium: 14px;
    --font-size-large: 16px;
    --font-size-xl: 20px;
    --font-size-xxl: 20px;
    --border-width: 0.5px;
    --border-radius: 5px;
    --gap-small: 1%;
    --gap-medium: 1%;
    --padding-micro: 1;
    --padding-small: 1%;
    --padding-medium: 1%;
    --padding-large: 2%;
    --padding-huge: 4%;
    --margin-micro: 1%;
    --margin-small: 1%;
    --margin-medium: 2%;
    --margin-large: 2%;
  }

  .logo-wrapper img {
    height: auto;
    width: 30%;
  }

  .enterName{
    width: 40%;
    height: 40%;
  }

  #resetButton {
    margin-top: 1%;
  }

  #headerActions{
    margin-bottom: 5%;
    height: 30%;
  }

  .action{
    display: flex;
    justify-content: flex-start;
    width: auto;
    max-width: 20%;
  }

  #loot img {
    width: 30%;
    border-radius: 20px;
  }

  .menu-item #logo img {
    width: auto;
    height: 70% !important;
  }

  #header {
    padding: var(--padding-small) var(--padding-small) var(--padding-small) var(--padding-small);
    width: 100%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
  }

  #changeRegionPopUp {
    top: 15%;
    left: 10%;
    width: 80%;
    height: 80%;
  }

  .overlay-content {
    top: 25%;
    left: 25%;
    width: 50%;
    height: 50%;
  }

  .questOfferer p {
    margin: 0;
  }

  #questMapFirstTime{
    width: 60%;
    margin-top: 1%;
  }
  
  #questMapFirstTime p{
    font-size: 12px;
  }

  #questMapIcon{
    height: 20%;
  }

  .questText{
    height: 80%;
  }

  .questText p{
    margin-top: 2%;
    margin-bottom: 2%;
  }

  #questMapIcon img {
    width: auto;
    height: 100%;
  }

  .action p {
    margin: 0;
  }

  .confirmationElement{
    width: 60%;
    height: 40%;
  }

  #statistics p{
    font-size: 12px;
  }

  .statisticsTable th {
    font-size: var(--font-size-small);
  }

  .statisticsTable table h2 {
    font-size: var(--font-size-medium);
  }

  .moveName {
    font-size: var(--font-size-medium);
  }

  .moveText {
    font-size: var(--font-size-small);
    margin: 0;
    text-align: left;
  }

  .enterCombination {
    width: 15%;
    height: 12.5%;
    padding: var(--padding-micro);
}

  .enterCombination button {
    width: 100%;
    height: 100%;
    font-size: var(--font-size-small);
  }

  #buttonsUpgrade{
    margin-block-start: 0;
  }

  #abilities h2, #equipment h2{
    font-size: var(--font-size-large);
    margin-block-start: 1%;
    margin-block-end: 1%;
  }

  #text p{
    font-size: var(--font-size-small);
  }

  .player-level-icons{
    width: 40%
  }

  .upgradeButtons button {
    height: 100%;
    width: 80%;
  }

  #contentRight .levelElement {
    justify-content: center;
    align-items: center;
  }

  #contentRight .levelElement p{
    font-size: var(--font-size-small);
  }

  #contentRight .levelElement img{
    height: 80%;
    width: auto;
  }

  #contentRight .levelElementText {
    font-size: var(--font-size-small);
  }
  
  #contentRight .moveName, #contentRight span{
    font-size: var(--font-size-small);
  }

}
